{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      Impressum
    </title>
    <link rel="stylesheet" href="{% static 'assets/css/aos.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome-all.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/glightbox-min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/swiper-bundle.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" />
  </head>
  <body>

    
    <!-- Menu Start -->
    <header class="header-primary">
      <div class="container">
        <nav class="navbar navbar-expand-xl justify-content-between">
          <a href="{% url 'home' %}">
            <img src="{% static 'assets/img/logo/logos-m.svg' %}" alt="" />
          </a>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
              <li class="d-block d-xl-none">
                <div class="logo">
                  <a href="{% url 'home' %}"
                    ><img src="{% static 'assets/img/logo/logos-m.svg' %}" alt=""
                  /></a>
                </div>
              </li>
              <li class="nav-item">
                <a href="{% url 'home' %}" class="nav-link"> </a>
            </li>
            
              
            </ul>
            <div class="d-flex align-items-center gap-4 mt-4">
              
            </div>
          </div>
          <div class="navbar-right d-flex align-items-center gap-4">
            
            <button
              class="navbar-toggler d-block d-xl-none"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarNav"
              aria-controls="navbarNav"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span></span>
            </button>
          </div>
        </nav>
      </div>
      
    </header>
    <!-- Menu End -->

    <main class="wrapper">


      <!-- About Service Start -->
      <section class="aai-about-service">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h2 class="section-title">  <br /> <br /> </h2>
              
              <div>


              <!-- Body Start -->
       

                <h2 class="section-title">Impressum</h2>
                <p class="section-desc mb-4">
                  Angaben gemäß § 5 TMG<br /><br />

                  <b>Firmenname:</b><br />
                  KI-Experten (Kixp)<br />
                  Betül Öztürk<br />
                  Donauschwabenweg 10<br />
                  72108 Ergenzingen<br /><br />

                  <b>Kontakt:</b><br />
                  Telefon: 015251509689<br />
                  E-Mail: Info@kixp.de<br /><br />

                  
                  <b>Umsatzsteuer-ID:</b><br />
                  Umsatzsteuer-Identifikationsnummer gemäß §27 a Umsatzsteuergesetz:<br />
                  Steuer-ID. 86343/21762<br /><br />

                  <b>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:</b><br />
                  Betül Öztürk<br />
                  Donauschwabenweg 10<br />
                  72108 Ergenzingen<br /><br />


                 
                  <b>Haftungsausschluss (Disclaimer):</b><br />
                  Haftung für Inhalte<br />
                  Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen. Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.
                  <br /><br />
                  Haftung für Links<br />
                  Unser Angebot enthält Links zu externen Websites Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend entfernen.
                  <br /><br />
                  Urheberrecht<br />
                  Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechts bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Seite sind nur für den privaten, nicht kommerziellen Gebrauch gestattet. Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte Dritter beachtet. Insbesondere werden Inhalte Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.


                </p>





                
              <!-- Body End -->

 
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- About Service End -->



  
    </main>
    

   
    <!-- Footer Start -->
    <footer
      class="aai-footer pt-120"
      style="background: url('{% static 'assets/img/bg/footer-bg.jpeg' %}') no-repeat center center/cover;"
    >
      <div class="container">
          
        <div class="aai-footer-navigation-widgets py-80">
          <div class="row">
            <div
              class="col-xl-4 col-lg-4 col-md-12"
              data-aos="fade-right"
              data-aos-duration="1500"
              data-aos-delay="50"
            >
              <div class="aai-footer-info">
                <a href="" class="aai-footer-logo">
                  <img src="{% static 'assets/img/logo/logos-m.svg' %}" alt="" />
                </a>
                <p class="aai-footer-desc">
                  Mit unserer KI-Agentur<br /> entdecken Sie die Zukunft.
                </p>

                <div class="aai-social-links d-flex">
                  <a href="https://twitter.com/KIXP_de" target="_blank" rel="noopener noreferrer">
                    <i class="fa-brands fa-twitter"></i
                  ></a>
                  <a href="https://www.instagram.com/kixp.de/" target="_blank" rel="noopener noreferrer">
                    <i class="fa-brands fa-instagram"></i
                  ></a>
                </div>

                
              </div>
            </div>
            <div class="col-xl-8 col-lg-8 col-md-12 mt-5 mt-lg-0">
              <div class="row">
                <div
                  class="col-xl-4 col-lg-4 col-md-4 mb-5 mb-lg-0"
                  data-aos="fade-up"
                  data-aos-delay="100"
                  data-aos-duration="1500"
                >
                <nav class="aai-footer-nav">
                  <h3 class="aai-footer-nav-title">Links</h3>
                  <ul class="aai-footer-nav-list">
                      <li class="aai-footer-nav-list-item">
                          <a href="{% url 'home' %}" class="aai-footer-nav-link"> </a>
                      </li>
                      <li class="aai-footer-nav-list-item">
                          <a href="{% url 'datenschutz' %}" class="aai-footer-nav-link"> Datenschutz </a>
                      </li>
                      <li class="aai-footer-nav-list-item">
                          <a href="{% url 'impressum' %}" class="aai-footer-nav-link"> Impressum </a>
                      </li>


                  </ul>
              </nav>
              
                </div>
                <div
                  class="col-xl-4 col-lg-4 col-md-4 mb-5 mb-lg-0"
                  data-aos="fade-up"
                  data-aos-delay="300"
                  data-aos-duration="1500"
                >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="aai-footer-copyright text-center">
        <p class="aai-copyright-text">Copyright @2024 KiXp.de</p>
      </div>
      </div>
    </footer>
    <!-- Footer End -->

    <!-- All JS -->
    <script src="{% static 'assets/js/typed.js' %}"></script>
    <script src="{% static 'assets/js/aos.js' %}"></script>
    <script src="{% static 'assets/js/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/glightbox-min.js' %}"></script>
    <script src="{% static 'assets/js/app.js' %}"></script>


    
  </body>
</html>
